### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [6]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.DataFrame()
purchase_data = pd.read_csv(purchase_data)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [39]:
total_players = len(purchase_data_df["SN"].unique())
total_players_df = pd.DataFrame({"Total Players": [total_players]})
total_players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
#find number of unique items sold, purchase price, number of purchases, and total revenue for full dataframe
# Number of Unique Items
uniqueItems = len(purchase_data['Item ID'].unique())

# Average Price
avgPrice = purchase_data['Price'].mean()

# Number of purchases
purchases = purchase_data['Item Name'].value_counts()
totalPurchases = purchases.sum()

# Total Revenue
revenue = purchase_data['Price'].sum()

# Create DataFrame for Output
purchasingAnalysis = [{'Number of Unique Items':uniqueItems,
                       'Average Price':avgPrice,
                       'Number of Purchases':totalPurchases,
                       'Total Revenue':revenue}]
purchasingAnalysis = pd.DataFrame(purchasingAnalysis)

# Style output
purchasingAnalysis['Average Price'] = purchasingAnalysis['Average Price'].map('$ {:,.2f}'.format)
purchasingAnalysis['Total Revenue'] = purchasingAnalysis['Total Revenue'].map('$ {:,.2f}'.format)
purchasingAnalysis = purchasingAnalysis[['Number of Unique Items','Average Price','Number of Purchases','Total Revenue']]
# Print results
purchasingAnalysis

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179        $ 3.05                  780    $ 2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [64]:
# figure players number of players per Gender and create demographic DataFrame

gDemo_df = pd.DataFrame(purchase_data_df["Gender"].value_counts())
gDemo_df
#calculate percentage of players
percentage_of_players = (purchase_data_df["Gender"].value_counts()/total_players)*100
percentage_of_players

# New calculations added into Data Frame as a new column
gDemo_df["Percentage of Players"] = percentage_of_players
gDemo_df["Percentage of Players"] = gDemo_df["Percentage of Players"].map("{:,.2f}%".format)
gDemo_df

# Change the order of the columns 
gDemo_df = gDemo_df[["Percentage of Players", "Gender"]]
gDemo_df

# Rename the column "Gender" to "Total Counts" using .rename(columns={})
gDemo_df = gDemo_df.rename(columns={"Gender":"Total Count"})
gDemo_df

                      Percentage of Players  Total Count
Male                                 83.59%          652
Female                               14.49%          113
Other / Non-Disclosed                 1.92%           15


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# Set up a groupby gender. 
# analyse to obtain purchase count, avg. purchase price, avg. purchase total per person 
purchase_data_df = pd.DataFrame(purchase_data)
gender_grouped = purchase_data_df.groupby("Gender")
purchase_count = gender_grouped["Age"].count()
avg_purchase = gender_grouped["Price"].mean()
total_purchase_value = gender_grouped["Price"].sum()
avg_purchase_person =(gender_grouped["Price"].sum()/total_purchase_value)

# create a summary DataFrame to hold the results 
summary_df = pd.DataFrame({"Purchase count":purchase_count,"Average Purchase Price":avg_purchase,
                           "Total Purchase value":total_purchase_value,"Average Purchase Total per person":avg_purchase_person})
#clean format the data 
summary_df["Average Purchase Price"] = summary_df["Average Purchase Price"].map("${:.2f}".format)
summary_df["Total Purchase value"]  = summary_df["Total Purchase value"].map("${:,.2f}".format)
summary_df["Average Purchase Total per person"] = summary_df["Average Purchase Total per person"].map("${:.2f}".format)
summary_df.head()

,Purchase count,Average Purchase Price,Total Purchase value,Average Purchase Total per person
Gender,,,,
Female,113,$3.20,$361.94,$1.00
Male,652,$3.02,"$1,967.64",$1.00
Other / Non-Disclosed,15,$3.35,$50.19,$1.00

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [77]:
# Create the bins

bins = [0, 10, 15, 19, 23, 27, 31, 35, 39, 100]

# Name the bins
Age_Group_Names = ["Under 10", "10-14", "15-18", "19-22", "23-26","27-30", "31-34","35-38","39 and Up"]

#Add data into bins

agedata = pd.cut(purchase_data["Age"], bins, labels = Age_Group_Names).head()

purchase_data["Age Range"] = pd.cut(purchase_data["Age"],bins,labels = Age_Group_Names)
purchase_data.head()

#Age Range
group = purchase_data.groupby("Age Range")

age_ranges_df = purchase_data.groupby(["Age Range"])
age_ranges_df 


total_players = age_ranges_df["SN"].count() #count the screen names within the age ranges dataframe
playerpercent = (age_ranges_df["SN"].count() / total_players) * 100
total_players
playerpercent

agedemo_df = pd.DataFrame({"Percentage of Players": playerpercent, "Total in this Group": total_players})
#print Results
agedemo_df

           Percentage of Players  Total in this Group
Age Range
Under 10                   100.0                   32
10-14                      100.0                   54
15-18                      100.0                  101
19-22                      100.0                  298
23-26                      100.0                  150
27-30                      100.0                   60
31-34                      100.0                   45
35-38                      100.0                   27
39 and Up                  100.0                   13

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [65]:
purchase_data_df = pd.DataFrame(purchase_data)
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]

bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

df["Total_Count"] = pd.cut(df["Age"], bins, labels=bin_labels)
less_rows = df[['Total Count','SN', 'Price']]

less_rows_grouped = less_rows.groupby('Total Count')
purchase_counts = less_rows_grouped['Price'].count()
average_prices = round(less_rows_grouped['Price'].mean(),2)
total_spent = round(less_rows_grouped['Price'].sum(), 2)
purchase_per_person = round(total_spent/age_counts,2)


summary4 = pd.DataFrame([purchase_counts, average_prices, total_spent, purchase_per_person])
summary4b = summary4.T
summary4b.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary4b.head()

KeyError: 'Age'

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [68]:
# Let's work with original purchase data grouped by player("SN") 
orig_purchase_data_df = pd.DataFrame(purchase_data)
orig_purchase_data_df.head()

# Group by Spendors ( "SN" )
grp_SN_top_spendor_df = orig_purchase_data_df.groupby("SN")
grp_SN_top_spendor_df.count()

# Let's work with data sorted by SN new dataframe
analysis_by_SPENDOR_df = pd.DataFrame(grp_SN_top_spendor_df["Purchase ID"].count())
analysis_by_SPENDOR_df

# Get Total purchase value by SN
total_purchase_value_SN = grp_SN_top_spendor_df["Price"].sum()
total_purchase_value_SN
dlr_total_purchase_value_SN = total_purchase_value_SN.map("${:,.2f}".format)
dlr_total_purchase_value_SN

# Get Average purchase price by SN
avg_purchase_price_SN = grp_SN_top_spendor_df["Price"].mean()
avg_purchase_price_SN
dlr_avg_purchase_price_SN = avg_purchase_price_SN.map("${:,.2f}".format)
dlr_avg_purchase_price_SN

# Organize summary Top Spender data, get all columns to organized Data Frame, add needed columns to it
analysis_by_SPENDOR_df["Average Purchase Price"] = dlr_avg_purchase_price_SN 
analysis_by_SPENDOR_df["Total Purchase Value"] = dlr_total_purchase_value_SN 
analysis_by_SPENDOR_df

# Summary Top Spendor analysis grouped by SN, rename "Purchase ID" column, using .rename(columns={})
SUM_SN_purchased_data_df = analysis_by_SPENDOR_df.rename(columns={"Purchase ID":"Purchase Count"})
TOP5_spendors_df=SUM_SN_purchased_data_df.sort_values("Total Purchase Value", ascending=False)
TOP5_spendors_df.head()

              Purchase Count Average Purchase Price Total Purchase Value
SN
Haillyrgue51               3                  $3.17                $9.50
Phistym51                  2                  $4.75                $9.50
Lamil79                    2                  $4.64                $9.29
Aina42                     3                  $3.07                $9.22
Saesrideu94                2                  $4.59                $9.18

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [17]:

#Item ID, Item Name, Item Price columns
grouped_item_df = purchase_data_df.groupby (['Item ID','Item Name'])
#['Price']

item_price = grouped_item_df["Price"].sum()/grouped_item_df["Item ID"].count()

#Purchase Count
item_purchase_count = grouped_item_df["Item ID"].count()

#Total Purchase Value
price_sum = grouped_item_df["Price"].sum()

item_table=pd.DataFrame({"Purchase Count":item_purchase_count,
                        "Total Purchase Value":price_sum,
                        "Item Price":item_price})

item_summary=pd.DataFrame(item_table.nlargest(5,'Purchase Count'))
item_top5 = item_summary[["Purchase Count","Item Price","Total Purchase Value"]]

# format all the columns with map
item_top5 ["Total Purchase Value"] = item_top5 ["Total Purchase Value"].map("${:,.2f}".format)
item_top5 ["Item Price"] = item_top5 ["Item Price"].map("${:,.2f}".format)

item_top5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [64]:
#sort data frame by total purchase value in descending order
profitable_top5.sort_values(["Total Purchase Value"], ascending=False)

#most profitable
profitable_summary=pd.DataFrame(item_table.nlargest(5,'Total Purchase Value'))
profitable_top5 = profitable_summary[["Purchase Count","Item Price","Total Purchase Value"]]

#format all the columns with map
profitable_top5 ["Total Purchase Value"] = profitable_top5 ["Total Purchase Value"].map("${:,.2f}".format)
profitable_top5 ["Item Price"] = profitable_top5 ["Item Price"].map("${:,.2f}".format)

profitable_top5

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80